<%- include("header") -%>

<h1 class="storedCharHeading">All the Better Call Saul characters!</h1>

<div class="container storedCharDisplaydiv">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4 g-4">
    <% characters.forEach(function(character){ %>

    <div class="col individualCell">
      <div class="card bg-dark">
        <img
          src="<%= character.img %>"
          class="card-img-top"
          alt="<%= character.name %>"
        />
        <div class="card-body bg-dark">
          <h5 class="card-title"><%= character.name %></h5>
          <p class="card-text">Nickname: <%= character.nickname %></p>
          <p class="card-text">Portrayed by: <%= character.portrayed %></p>
        </div>
      </div>
    </div>
    <% });%>
  </div>
</div>

<%- include("footer") -%>
